<!DOCTYPE html>
<html>
  <head>
    <title>NotAmazon</title>
    <%= csrf_meta_tags %>
    <link type="text/css" rel="stylesheet" href="../../assets/stylesheets/stylesheet.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="flash">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
    </div>
    <h1>Not Amazon</h1>
    <nav>
      <ul>
        <li><%= link_to "All Products", products_path%></li>
        <li><%= link_to "New Product", new_product_path%></li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
